<div id="<%= dom_id membership %>" class="attributes-list">
  <div class="attributes-list__row">
    <div class="attributes-list__label">Name:</div>
    <div class="attributes-list__value"><%= membership.name %></div>
  </div>
  <div class="attributes-list__row">
    <div class="attributes-list__label">Email:</div>
    <div class="attributes-list__value"><%= membership.email %></div>
  </div>
  <div class="attributes-list__row">
    <div class="attributes-list__label">Type:</div>
    <div class="attributes-list__value"><%= membership.membership_type %></div>
  </div>
  <div class="attributes-list__row">
    <div class="attributes-list__label">Company:</div>
    <div class="attributes-list__value"><%= membership.company_name %></div>
  </div>
</div>
