<% set_breadcrumbs [["Static Tabs", component_path(:static_tabs)]] %>

<%= render 'template',
           title: "Static Tabs",
           description: "" do %>

  <div data-controller="static-tabs" data-static-tabs-content-id-value="my_account">
    <div>
      <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select id="tabs"
                name="tabs"
                data-action="change->static-tabs#mobileSelect"
                class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          <option selected value="my_account">My Account</option>
          <option value="company">Company</option>
          <option value="team_members">Team Members</option>
          <option value="billing">Billing</option>
        </select>
      </div>
      <div class="hidden sm:block">
        <div class="border-b border-gray-200">
          <nav class="-mb-px flex space-x-8" aria-label="Tabs">
            <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <%= render 'static_tabs_switch', current: true, title: "My Account", content_id: "my_account" %>
            <%= render 'static_tabs_switch', current: false, title: "Company", content_id: "company" %>
            <%= render 'static_tabs_switch', current: false, title: "Team Members", content_id: "team_members" %>
            <%= render 'static_tabs_switch', current: false, title: "Billing", content_id: "billing" %>
          </nav>
        </div>
      </div>
    </div>
    <main>
      <div id="my_account" class="block py-4" data-static-tabs-target="content">
        <h1 class="text-3xl">Content for My Account</h1>
      </div>
      <div id="company" class="hidden py-4" data-static-tabs-target="content">
        <h1 class="text-3xl">Content for Company</h1>
      </div>
      <div id="team_members" class="hidden py-4" data-static-tabs-target="content">
        <h1 class="text-3xl">Content for Team Members</h1>
      </div>
      <div id="billing" class="hidden py-4" data-static-tabs-target="content">
        <h1 class="text-3xl">Content for Billing</h1>
      </div>
    </main>
  </div>
<% end %>
