<%= render_layout "body" do %>
  <div class="group/chapter-list lg:max-w-6xl lg:mx-auto"
       data-controller="chapter-list"
       data-chapter-list-shown-value="false">
    <div class="px-6 pt-8 lg:px-8 lg:pl-80 ">
      <div class="mx-auto max-w-2xl">
        <%= render "content_breadcrumbs",
                   current_page: %>
      </div>
    </div>

    <% full_document = capture do %>
      <%= yield %>
    <% end %>

    <div class="hidden ml-2 max-h-full md:w-52 md:fixed md:block">
      <!-- chapter list -->
      <%= link_to current_page.data.title, "#" %>
      <%= safe_join extract_toc(full_document) %>
    </div>
    <div class="px-6 py-8 md:px-8 md:pl-60">
      <div class="mx-auto max-w-2xl text-base leading-7 text-gray-700">
        <p class="text-base leading-7 text-orange-600">
          <%= current_page.parent.data.title %>
        </p>
        <h1 class="bg-orange-50 pt-1 text-3xl font-light text-gray-900 sm:text-4xl">
          <%= current_page.data.title %>
        </h1>
        <p class="mt-6 text-xl leading-8">
          <%= current_page.data.subtitle %>
        </p>

        <div class="fixed top-4 right-4 max-w-96 border rounded-md p-2 bg-white/90 md:hidden">
          <!-- chapter list -->
          <div class="flex justify-end">
            <button class="block" data-action="click->chapter-list#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
              </svg>
            </button>
          </div>
          <div class="group-data-[chapter-list-shown-value=false]/chapter-list:hidden">
            <%= safe_join extract_toc(full_document) %>
          </div>
        </div>
        <div class="mt-10 max-w-3xl mx-auto">
          <% if current_page.children.any? %>
            <div class="border rounded-lg p-2 mb-8 bg-white/80">
              <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
              <%= render "page_children", page: current_page %>
            </div>
          <% end %>

          <div class="md">
            <%= full_document %>
          </div>

          <% if current_page.children.any? %>
            <div class="border rounded-lg p-2 mt-12 bg-white/80">
              <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
              <%= render "page_children", page: current_page %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
