<% provide :head, turbo_exempts_page_from_preview %>
<% @back_link = { title: current_page.parent.data.title, url: current_page.parent.url } %>
<%= render_layout "body" do %>
  <div class="max-w-3xl mx-auto bg-white">
    <div class="mt-12">
      <%= render "content_breadcrumbs",
                 current_page: %>
    </div>

    <% full_document = capture { yield } %>

    <div class="text-base text-gray-700 mt-12">
      <%= render "article_toc", full_document: %>
      <div>
        <h1 class="mt-2 text-3xl font-light text-gray-900 sm:text-4xl">
          <%= current_page.data.title %>
        </h1>
        <p class="mt-6 text-xl leading-8">
          <%= current_page.data.subtitle %>
        </p>
      </div>
      <%= render 'article_descriptors', current_page: %>
      <div class="mt-12 max-w-3xl mx-auto">
        <% if current_page.data.show_siblings %>
          <div class="border rounded-lg p-2 mb-8 bg-white/80">
            <h3 class="text-xl ml-4 font-light" id="sibling-pages">
              <%= link_to current_page.parent.data.title,
                          current_page.parent.url,
                          class: "hover:text-orange-600 active:opacity-50"
              %>
            </h3>
            <%= render "page_children", page: current_page.parent %>
          </div>
        <% end %>
        <% if current_page.children.any? %>
          <div class="border rounded-lg p-2 mb-8 bg-white/80">
            <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
            <%= render "page_children", page: current_page %>
          </div>
        <% end %>

        <div class="markdown">
          <%= full_document %>
        </div>

        <% if current_page.data.show_siblings %>
          <div class="border rounded-lg p-2 mt-12 bg-white/80">
            <h3 class="text-xl ml-4 font-light" id="sibling-pages">
              <%= link_to current_page.parent.data.title,
                          current_page.parent.url,
                          class: "hover:text-orange-600 active:opacity-50"
              %>
            </h3>
            <%= render "page_children", page: current_page.parent %>
          </div>
        <% end %>
        <% if current_page.children.any? %>
          <div class="border rounded-lg p-2 mt-12 bg-white/80">
            <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
            <%= render "page_children", page: current_page %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
