<%= render_layout "body" do %>
  <div class="lg:max-w-6xl lg:mx-auto">
    <div class="px-6 pt-8 lg:px-8 lg:pl-80 ">
      <div class="mx-auto max-w-2xl">
        <%= render "content_breadcrumbs",
                   current_page: %>
      </div>
    </div>

    <% full_document = capture do %>
      <%= yield %>
    <% end %>

    <div class="hidden ml-2 max-h-full md:w-52 md:fixed md:block">
      <!-- chapter list -->
      <%= link_to current_page.data.title, "#" %>
      <%= safe_join extract_toc(full_document) %>
    </div>
    <div class="px-6 py-8 md:px-8 md:pl-60">
      <div class="mx-auto max-w-2xl text-base leading-7 text-gray-700">
        <p class="text-base leading-7 text-orange-600">
          <%= current_page.parent.data.title %>
        </p>
        <h1 class="bg-orange-50 pt-1 text-3xl font-light text-gray-900 sm:text-4xl">
          <%= current_page.data.title %>
        </h1>
        <p class="mt-6 text-xl leading-8">
          <%= current_page.data.subtitle %>
        </p>

        <div class="md:hidden">
          <%= safe_join extract_toc(full_document) %>
          <!-- chapter list -->
        </div>
        <div class="mt-10 max-w-3xl mx-auto">
          <% if current_page.children.any? %>
            <div class="border rounded-lg p-2 mb-8 bg-white/80">
              <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
              <%= render "page_children", page: current_page %>
            </div>
          <% end %>

          <div class="md">
            <%= full_document %>
          </div>

          <% if current_page.children.any? %>
            <div class="border rounded-lg p-2 mt-12 bg-white/80">
              <h3 class="text-xl ml-4 font-light" id="related-pages">関連ページ</h3>
              <%= render "page_children", page: current_page %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
