<% @background = true %>

<% @back_link = { title: "コンテンツ一覧", url: "/directory" } %>

<%= render_layout "body" do %>
  <div class="max-w-3xl mx-auto mt-12">
    <%= render "content_breadcrumbs", current_page: %>
  </div>
  <div class="max-w-3xl mx-auto flex gap-8 justify-between items-stretch mt-4">
    <div class="section__key-image section__key-image--<%= current_page.data.key_image %>">
      <h1 class="section__title">
        <%= current_page.data.title %>
      </h1>
      <p class="section__subtitle">
        <%= current_page.data.subtitle %>
      </p>
    </div>
    <div class="flex-1 flex flex-row-reverse">
      <div class="w-fit">
        <% if current_page.children.any? %>
          <%= render "page_children", page: current_page %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
