<% @background = true %>

<% provide :head, preload_link_tag(image_path("pexels-pixabay-51343.webp")) %>
<% @back_link = { title: "コンテンツ一覧", url: "/directory" } %>

<%= render_layout "body" do %>
  <div class="max-w-3xl mx-auto mt-12">
    <%= render "content_breadcrumbs", current_page: %>
  </div>
  <div class="max-w-3xl mx-auto flex gap-8 justify-between items-stretch mt-4">
    <div class="flex-1 bg-orange-400 flex flex-col justify-center items-center">
      <h1 class="text-4xl font-base text-white">
        <%= current_page.data.title %>
      </h1>
      <p class="mt-8 text-xl text-white mx-12">
        <%= current_page.data.subtitle %>
      </p>
    </div>
    <div class="flex-1 flex flex-row-reverse">
      <div class="w-fit">
        <% if current_page.children.any? %>
          <%= render "page_children", page: current_page %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
