<%# locals: (current_page:) %>
<% available_descriptors = ["component_names", "server_request", "state_management", "technologies", "demo_urls", "related_pages", "parent"].freeze %>

<div class="grid grid-cols-[auto_1fr] auto-rows-auto w-full">
  <% if current_page.data.descriptors %>
    <% d = current_page.data.descriptors %>
    <% raise "Descriptor element mismatch" unless (d.keys - available_descriptors).empty? %>
    <% if d.component_names.present? %>
      <div class="h-8 font-bold text-right pr-4">UI 要素名</div>
      <div class="pl-4 border-l border-gray-300"><%= d.component_names.to_a.join(', ') %></div>
    <% end %>
    <% unless d.server_request.nil? %>
      <div class="h-8 font-bold text-right pr-4">サーバ接続</div>
      <div class="pl-4 border-l border-gray-300"><%= d.server_request ? "要" : "不要" %></div>
    <% end %>
    <% unless d.state_management.nil? %>
      <div class="h-8 font-bold text-right pr-4">ステート管理</div>
      <div class="pl-4 border-l border-gray-300"><%= d.state_management.to_a.join(', ').presence || "なし" %></div>
    <% end %>
    <% if d.technologies.present? %>
      <div class="h-8 font-bold text-right pr-4">使用技術</div>
      <div class="pl-4 border-l border-gray-300"><%= d.technologies.to_a.join(', ') %></div>
    <% end %>
    <% if d.demo_urls.present? %>
      <div class="h-8 font-bold text-right pr-4">デモ</div>
      <div class="pl-4 markdown border-l border-gray-300"><%= safe_join d.demo_urls.map { link_to it[0], it[1], class: "link--demo" }, ", " %></div>
    <% end %>
    <% if d.parent %>
      <div class="h-8 font-bold text-right pr-4">親ページ</div>
      <div class="pl-4 markdown border-l border-gray-300"><%= link_to site.get(d.parent).data.title, d.parent %></div>
    <% end %>
    <% if d.related_pages.present? %>
      <div class="h-8 font-bold text-right pr-4">関連ページ</div>
      <div class="pl-4 markdown border-l border-gray-300"><%= safe_join d.related_pages.map { |path| link_to site.get(path).data.title, path }, ", " %></div>
    <% end %>
  <% end %>

  <% if current_page.data.show_siblings %>
    <%= render "article_descriptors__page_children", page: current_page.parent, label: "兄弟ページ" %>
  <% end %>
  <% if current_page.children.present? %>
    <%= render "article_descriptors__page_children", page: current_page, label: "子ページ" %>
  <% end %>
</div>
