<% local_assigns => {catalog:, iphone:} %>

<div id="iphone">
  <div class="text-xl z-10 font-bold sticky top-0 right-0 h-8 w-full">
    <div class="animate-bounce ml-auto p-2 bg-white text-center w-[400px]">
      <%= "From #{number_to_currency iphone.pricing.lump, locale: :en}" %>
      <%= "or #{number_to_currency iphone.pricing.monthly, locale: :en}" %>
      for 24 mo.*
    </div>
  </div>

  <div class="pt-12 pb-6">
    <div class="float-right mr-6">
      <%= button_to "Clear Order", iphone_path, method: :delete,
                    class: "bg-orange-600 p-1 border rounded text-white active:bg-orange-700" %>
    </div>
    <h1 class="text-5xl">Buy オラのスマホ Pro</h1>
    <div class="text-sm mt-4 text-light">From $1399 or $58.29/mo. for 24 mo.<sup>*</sup></div>
  </div>

  <%= tag.div class: "flex" do %>
    <div class="shrink-0 sticky top-0 w-[592px] h-[460px]">
      <%= image_tag iphone.image_path,
                    class: "object-cover w-[592px] h-[460px] rounded-[20px]" %>
    </div>
    <div class="pl-10">
      <div>
        <h2 class="mb-6 text-2xl">Model. <span class="text-gray-400">どれにするか？</span></h2>
        <div>
          <%= form_with url: iphone_path, method: :post do %>
            <%= fieldset_tag nil, disabled: !iphone.model_enterable?, class: "disabled:opacity-30" do %>
              <% [{ model: "6-1inch", title: "オラのスマホ Pro", subtitle: "6.1-inch display" },
                  { model: "6-7inch", title: "オラのスマホ Pro Max", subtitle: "6.7-inch display" }].each do |attributes| %>
                <%= render 'option',
                           name: :model,
                           value: attributes[:model],
                           selected: iphone.model == attributes[:model],
                           title: attributes[:title],
                           subtitle: attributes[:subtitle],
                           pricing_lines: item_pricing(attributes[:model], iphone.ram, catalog)
                %>
              <% end %>
            <% end %>
          <% end %>
          <div class="flex justify-between mt-4 p-4 block bg-gray-100 rounded-lg w-full">
            <div class="text-sm">
              <div class="font-bold">助けが欲しいですか？</div>
              <div class="font-light">画面の大きさや電池の違いを調べるよ</div>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-48">
        <h2 class="mb-6 text-2xl">Finish. <span class="text-gray-400">好きなの選んで</span></h2>
        <%= tag.div data: { controller: "image-switcher", image_switcher_iphone_value: iphone } do %>
          <div class="text-xl my-4" data-image-switcher-target="colorText"><%= iphone.color_name %></div>

          <%= form_with url: iphone_path, method: :post do %>
            <%= fieldset_tag nil, disabled: !iphone.color_enterable?, class: "disabled:opacity-30" do %>
              <% [{ color: "naturaltitanium", class: "bg-gray-400" },
                  { color: "bluetitanium", class: "bg-indigo-800" },
                  { color: "whitetitanium", class: "bg-white" },
                  { color: "blacktitanium", class: "bg-black" }].each do |attributes| %>
                <%= render 'color_option',
                           catalog: catalog,
                           value: attributes[:color],
                           color: attributes[:class],
                           iphone: iphone %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="mt-48">
        <h2 class="mb-6 text-2xl">Storage. <span class="text-gray-400">容量はいくらにする？</span></h2>
        <div>
          <%= form_with url: iphone_path, method: :post do %>
            <%= fieldset_tag nil, disabled: !iphone.ram_enterable?, class: "disabled:opacity-30" do %>
              <% [{ value: "256GB", title: "256GB<sup>2</sup>".html_safe },
                  { value: "512GB", title: "512GB<sup>*</sup>".html_safe },
                  { value: "1TB", title: "1TB<sup>2</sup>".html_safe },
                 ].each do |attributes| %>
                <%= render 'option',
                           name: :ram,
                           value: attributes[:value],
                           selected: iphone.ram == attributes[:value],
                           title: attributes[:title],
                           pricing_lines: item_pricing(iphone.model, attributes[:value], catalog) %>
              <% end %>
            <% end %>
          <% end %>
          <div class="flex justify-between mt-4 p-4 block bg-gray-100 rounded-lg w-full">
            <div class="text-sm">
              <div class="font-bold">助けが欲しいですか？</div>
              <div class="font-light">画面の大きさや電池の違いを調べるよ</div>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
