<tr class="group p-2" id="<%= dom_id(todo) %>">
  <td class="<%= 'highlight-on-appear' if flash[:new_todo_id] == todo.id %> p-2 border-gray-400 border-t group-[:first-child]:border-none">
    <div class="flex justify-between">
      <div class="flex items-center">
        <%= render 'like_button', todo: %>
        <%= todo.title %>
      </div>
      <%= render 'delete_button', todo: %>
    </div>
  </td>
</tr>
