<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= hotel.prefecture %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hotel.city %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= hotel.tagline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

</div>
