<div id="<%= dom_id feature %>">
  <p>
    <strong>Tagline:</strong>
    <%= feature.tagline %>
  </p>

  <p>
    <strong>Descrption:</strong>
    <%= feature.descrption %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= feature.category %>
  </p>

  <p>
    <strong>Image path:</strong>
    <%= feature.image_path %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= feature.position %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= feature.hotel_id %>
  </p>

</div>
